@import "../../../assets/clock-picker/standalone.css";
@import "../../../assets/clock-picker/clockpicker.css";
@import "../Constants.scss";

.popover {
    font-family: $font-family;
    border-radius: 4px;

    .text-primary {
        color: $primary-dark;
    }

    &.bottom.clockpicker-align-right .arrow {
        right: 35px;
    }

    .clockpicker-dial {
        font-size: 14px;
    }

    .clockpicker-tick.active,
    .clockpicker-tick:hover {
        background-color: $primary-opacity-25;
    }

    .clockpicker-canvas-bearing,
    .clockpicker-canvas-fg {
        fill: $primary-dark;
    }
    .clockpicker-canvas-bg {
        fill: $primary-opacity-50;
    }
    .clockpicker-canvas-bg-trans {
        fill: $primary-opacity-50;
    }
    .clockpicker-canvas line {
        stroke: $primary-dark;
    }
}
