@import "../Constants.scss";

.ToggleButton {
    width: 100%;
    padding: 5px;
    font-size: $font-size-m;
    background: #fff;
    outline: none;
    height: 32px;
    border: 1px solid $border;
    border-radius: 4px;
    cursor: pointer;

    transition: background .1s linear, border-color .1s ease-out;

    &:hover {
        border-color: $border-hover;
    }

    &:active {
        background-color: $primary-dark-opacity-25;
    }

    &_set {
        background: $primary-dark;
        color: white;

        &:active {
            background-color: $primary-dark-opacity-75;
        }
    }
}
