@import "../../Constants";

.Icon {
    display: inline-block;
    flex-shrink: 0;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &_type_call {
        background-image: url(assets/call.svg);
    }

    &_type_clock {
        background-image: url(assets/clock.svg);
    }

    &_type_map {
        background-image: url(assets/map.svg);
    }

    &_type_site {
        background-image: url(assets/site.svg);
    }

    &_type_cross {
        background-image: url(assets/cross.svg);
    }

    &_type_star {
        background-image: url(assets/star.svg?fill=grey);
    }

    &_type_ratingStar {
        background-image: url(assets/rating-star.svg);
    }

    &_type_ratingHalfStar {
        background-image: url(assets/rating-half-star.svg);
    }

    &_type_ratingEmptyStar {
        background-image: url(assets/rating-star.svg?fill=%23eceff1);
    }

    &_clickable {
        cursor: pointer;
        transition: all .1s;

        &:hover {
            &.Icon_type_cross {
                background-image: url(assets/cross.svg?fill=red);
            }
        }

        &:active {
            transform: scale(.9);
        }
    }
}
