@import '../Constants.scss';

.Balloon {
    display: flex;
    flex-direction: column;
    height: 99%; // ну бывает
    max-width: 400px;

    &-Title {
        font-size: $font-size-xl;
        line-height: $line-height-xl;
        font-weight: 700;
        color: $primary-dark;

        margin-bottom: 5px;
    }

    &-Contact {
        display: flex;
        margin: 10px 0;

        .Icon {
            margin-right: 10px;
        }
    }

    &-FlexDivider {
        flex-grow: 1;
    }

    .Hint {
        margin: $margin 0;
    }

    &-TimeWrap {
        display: flex;
        margin-bottom: $margin;

        .TimePicker {
            width: 100px;
            margin-right: $margin;
        }
    }
}
