@import '../Constants.scss';

.Balloon {
    margin: 1px;

    &-Title {
        font-size: $font-size-l;
        line-height: 20px;
        font-weight: 700;
        color: $primary-dark;

        margin-bottom: 5px;
    }

    &-Categories {
        color: #999;
    }

    &-Contact {
        display: flex;
        margin: 10px 0;

        .Icon {
            margin-right: 10px;
        }
    }

    .Hint {
        margin: 8px 0;
    }

    &-TimeWrap {
        display: flex;
        margin-bottom: 8px;

        .TimePicker {
            width: 100px;
            margin-right: 8px;
        }
    }
}
