@import "../../Constants";

.Text {
    transition: color .1s linear;

    &_size {
        &_m {
            font-size: $font-size-m;
            line-height: $line-height-m;
        }

        &_l {
            font-size: $font-size-l;
            line-height: $line-height-l;
        }

        &_xl {
            font-size: $font-size-xl;
            line-height: $line-height-xl;
        }
    }

    &_color {
        &_black {
            color: #000;
        }

        &_grey {
            color: $light-grey;
        }

        &_white {
            color: #fff;
        }

        &_red {
            color: red;
        }

        &_primary {
            color: $primary;
        }
    }

    &_bold {
        font-weight: bold;
    }

    &_newLine {
        display: block;
    }

    &_center {
        text-align: center;
    }

    &_oneLine {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
