@import "../Constants.scss";

.TripRoute {
    &-Item {
        display: flex;

        & + & {
            margin-top: $margin;
        }

        &_no-point {
            padding-left: 24px + $margin;
        }
    }

    &-Rows {
        overflow: hidden;
    }

    &-Row {
        display: flex;
        align-items: center;
        height: 24px;
        overflow: hidden;

        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-Point {
        display: inline-block;
        flex-shrink: 0;
        height: 20px;
        width: 20px;
        line-height: 20px;
        margin-right: $margin;

        border-radius: 50%;
        border: 2px solid white;
        box-shadow: 0 0 2px 0 black;

        font-size: 12px;
        font-weight: bold;
        text-align: center;
        cursor: default;
    }

    &-Day_active {
        .TripRoute {
            &-DayTitleLine {
                border-top: 2px solid $primary;
            }

            &-DayTitle {
                color: $primary;
            }

            &-DayDate {
                .ClickableText {
                    color: $primary;
                }
            }

            &-Point {
                color: white;
                background: #71B732;

                &_place {
                    &_start {
                        background: #FF3333;
                    }

                    &_end {
                        background: #4296EA;
                    }
                }
            }
        }
    }

    &-DayTitleWrap {
        margin-top: $margin;
        text-align: center;
        position: relative;
    }

    &-DayTitleLine {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        z-index: -1;
        border-top: 2px dashed $light-grey;
    }

    &-DayTitle {
        display: inline-block;
        vertical-align: middle;
        padding-left: $margin / 2;
        padding-right: $margin / 2;
        background: white;
    }

    &-DayDate {
        margin-bottom: $margin;
        text-align: center;

        .ClickableText {
            display: inline-block;
        }
    }

    &-RouteInfo {
        margin: $margin $margin $margin 10px;
        border-left: 4px dotted #A051CC;
        padding: $margin;
        text-align: center;
    }

    &-Category {
        flex-grow: 1;
        flex-shrink: 0;

        margin-left: $margin;
    }

    &-ExtraTitle {
        margin-top: 20px;
    }
}
