$gap: 10px;

.ArrayLayout {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;

    &-Item {
        display: inline-block;
        box-sizing: border-box;

        &:not(:last-child) {
            padding-right: $gap / 2;
        }

        &:not(:first-child) {
            padding-left: $gap / 2;
        }
    }
}
