.Modal {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.8);

    visibility: hidden;

    &_visible {
        animation: Modal-Show .2s ease-in;
        animation-fill-mode: forwards;
    }
}

@keyframes Modal-Show {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    1% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
