@import '../../../Constants';

.SearchInput {
    &-Suggest {
        position: absolute;
        z-index: 100;
        top: 100%;
        margin-top: 5px;
        left: 0;
        right: 0;
        background: #fff;
        border: 1px solid $border;
        border-radius: 4px;
        box-shadow: 0 10px 20px -5px $border;
        overflow: hidden;
    }

    &-SuggestText {
        padding: 5px;
        cursor: pointer;
        transition: background-color .1s linear;

        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;

        &:hover {
            background: #f0f0f0;

            &:active {
                background-color: $border;
            }
        }
    }
}
