@import '../Constants';

.RootLayout {
    .TripList,
    .TripRoute {
        margin: 20px 0;

        @media print {
            margin: 0;
        }
    }

    .PrintButton {
        margin-bottom: $margin;
    }

    .Hint,
    &-DateCheck {
        margin-top: 10px;
    }

    .UserLocation {
        margin-top: 10px;
    }
}
