@import "../../../../node_modules/air-datepicker/dist/css/datepicker.css";
@import "../../Constants";

.datepicker {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-color: $border;

    &.datepicker {
        transition: none;
    }

    &--day-name {
        color: $primary-dark;
        font-weight: bold;
        cursor: default;
    }

    &--cell {
        transition: background-color .1s linear;

        &:active {
            background-color: $border;
        }

        &.-current- {
            color: $primary;
        }

        &.-range-to-,
        &.-range-from- {
            background-color: $primary-opacity-50;
            border: none;
        }

        &.-in-range- {
            background-color: $primary-opacity-25;

            &.-focus- {
                background-color: $primary-dark-opacity-75;
            }

            &.-other-month- {
                background-color: $border;
                color: white;

                &.-focus- {
                    background-color: $border-hover;
                }
            }
        }

        &.-selected- {
            background-color: $primary;

            &.-current- {
                background-color: $primary;
            }

            &.-focus- {
                background-color: $primary-dark-opacity-75;
            }

            &.-other-month- {
                background-color: $border-hover;
            }
        }
    }

    &--nav-action,
    &--nav-title{
        transition: background-color .1s linear;
    }
}

.-bottom-left- .datepicker--pointer {
    bottom: calc(100% - 7px);
    left: 35px;
    width: 15px;
    height: 15px;
}
